version: '3'

services:
  db:
    image: postgres

  web:
    build: .
    command: bash -c "sleep 3; python /code/manage.py migrate --noinput && python /code/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
